/* Header custom styles */

.header-wrap {
    .site-branding {
        .custom-logo-link {
            & + .sv-logo-wrap {
                display: none;
            }
        }

        img {
            max-width: $logo-size;
        }
    }

    /* Tablet */
    @include bp(min-width, $bp-mobile + 1) {
        .store-container {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        .site-branding,
        .search-cart-wrap {
            float: none;
        }
    }
}

// Minicart //
.site-header-cart {
    .mini_cart_item {
        .mini-cart-product {
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .quantity {
            left: 80px;
            position: absolute;
            top: 20px;
        }
    }

    .woocommerce {
        a {
            &.button {
                &.wc-forward {
                    padding: 13px 15px;
                    text-align: center;

                    &:before {
                        margin-right: 10px;
                        position: static;
                    }
                }
            }
        }
    }
}