/* line 5, scss/base/_reset.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 94, scss/base/_reset.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, scss/base/_reset.scss */

body {
  line-height: 1;
}

/* line 112, scss/base/_reset.scss */

ol,
ul {
  list-style: none;
}

/* line 117, scss/base/_reset.scss */

blockquote,
q {
  quotes: none;
}

/* line 122, scss/base/_reset.scss */

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 130, scss/base/_reset.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 137, scss/base/_reset.scss */

button:focus,
input:focus {
  outline: none;
}

/* line 142, scss/base/_reset.scss */

a {
  transition: color .3s ease-out;
}

/* line 145, scss/base/_reset.scss */

a:hover {
  color: #0091d5;
}

/* line 5, scss/base/_typography.scss */

.page .entry-content {
  color: #404040;
}

/* line 8, scss/base/_typography.scss */

.page .entry-content a {
  color: #0091d5;
}

/* line 8, scss/components/_banner-slider.scss */

.site-content .slider-wrapper ul.store-gallery li .banner-slider-info .caption-content {
  color: #f85570;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  /* line 22, scss/components/_banner-slider.scss */

  .site-content .slider-wrapper ul.store-gallery li .banner-slider-info {
    max-width: 100%;
    padding: 0 10px;
  }

  /* line 29, scss/components/_banner-slider.scss */

  .site-content .slider-wrapper .lSPager {
    bottom: 0;
  }
}

@media only screen and (min-width: 769px) {
  /* line 9, scss/layout/_navigation.scss */

  .main-navigation ul li a {
    padding: 15px 20px;
  }

  /* line 18, scss/layout/_navigation.scss */

  .main-navigation li.menu-item-has-children>a:before {
    right: 6px;
  }
}

/* line 6, scss/layout/_header.scss */

.header-wrap .site-branding .custom-logo-link+.sv-logo-wrap {
  display: none;
}

/* line 11, scss/layout/_header.scss */

.header-wrap .site-branding img {
  max-width: 180px;
}

/* line 5, scss/layout/_footer.scss */

.site-footer .widget_storevilla_aboutus_info_area .about-logo {
  max-width: 180px;
}

/* line 11, scss/layout/_footer.scss */

.site-footer .footer-widgets .menu-item {
  text-transform: uppercase;
}

@media only screen and (min-width: 1025px) {
  /* line 19, scss/layout/_footer.scss */

  .site-footer .footer-widgets .footer-widget-2,
  .site-footer .footer-widgets .footer-widget-3,
  .site-footer .footer-widgets .footer-widget-4,
  .site-footer .footer-widgets .footer-widget-5 {
    padding-top: 0;
  }
}

/* line 6, scss/layout/_sidebar.scss */

.product-categories .cat-item a:hover {
  color: #0091d5;
}

/* line 6, scss/pages/_product.scss */

.woocommerce-tabs.wc-tabs-wrapper .entry-content {
  color: #404040;
}

/* line 9, scss/pages/_product.scss */

.woocommerce-tabs.wc-tabs-wrapper .entry-content a {
  color: #0091d5;
}

/* line 6, scss/pages/_cart.scss */

.cart_item .quantity .input-text {
  border: 1px solid #0091d5;
}

/* line 15, scss/pages/_cart.scss */

.cart-collaterals .cart_totals h2 {
  margin: 0 0 1em;
  text-transform: uppercase;
}